extends ../layout

block content
    h1.
        #{title}
    form#formAddCalendar(name="addcalendar",method="post",action="/calendars")
        p Name: 
            input#inputName(type="text", placeholder="ex. John Smith", name="name")
        p Description:
            input#inputDescription(type="text", placeholder="ex. John Smith", name="description")
        p Date: 
            input#inputDate(type="date", name="date")
        p
            button#btnSubmit(type="submit") submit